* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 800px;
  border: 3px solid #aeaeae;
}

.header {
  padding: 10px 0;
  border-bottom: 3px solid #aeaeae;
}

.header__nav,
.subheader {
  padding: 0 15px;
}

.header__nav,
.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__projects,
.subheader__tasks {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.time,
.time__block {
  display: flex;
}

.time__block {
  padding-left: 5px;
}

.time__today,
.time__month {
  padding-left: 7px;
}

.subheader {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #aeaeae;
}

.main {
  padding: 10px 0;
}

.search {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 3px solid #aeaeae;
}

.search__blocks {
  position: relative;
}

.page-search-target__icon {
  position: absolute;
  left: 10px;
  top: 1px;
}

.task__search {
  width: 80%;
  border: 1px solid #aeaeae;
}

.task__search::placeholder {
  padding-left: 25px;
}

.task__search:focus-visible {
  outline: none;
}

.task__search:active + .page-search-target__icon,
.task__search:focus + .page-search-target__icon {
  margin-left: -30px;
  transition: 0.5s;
}

.task__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #aeaeae;
}

.task__title {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.task__content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.task__status {
  padding: 0 5px;
}

.more {
  transform: rotate(90deg);
}

.details {
  justify-content: space-between;
  padding: 0 15px;
}

.details,
.task__details,
.details__info {
  display: flex;
  align-items: center;
}

.divide {
  margin-right: -7px;
  padding-left: 5px;
}

.email__icon {
  padding: 5px;
}

.name__details,
.subtack {
  padding: 10px 15px;
}

.task__descr {
  height: 150px;
}

.task__descr,
.subtask__add {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #aeaeae;
  &:active,
  &:focus,
  &::placeholder {
    padding: 10px;
  }
}

.subtask {
  padding: 15px;
  height: 25px;
  &__title {
    padding-right: 2px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
  &__title-block {
    display: flex;
  }
}

.activate__task,
.pause__task {
  cursor: pointer;
}
