* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 800px;
  font-size: 14px;
  background-color: #313e4d;
}

.body__wrapper {
  background-color: #cad2df;
  border-radius: 3px;
}

.header {
  margin-bottom: 8px;
  padding: 10px 0;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  &__projects {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}
.project {
  &__dropdown {
    width: 10px;
    height: 10px;
  }
}

.subheader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 15px 0;
  background-color: #fff;
  border-top: 1px solid #aeaeae;
  &__taskname {
    color: #002766;
  }
  &__tasks {
    border: none;
    color: #002766;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.time {
  display: flex;
  &__block {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  &__today,
  &__month {
    padding-left: 7px;
  }
}

.main {
  margin: 8px 0;
  padding-bottom: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search {
  padding: 9px 0;
  text-align: center;
  background-color: #fff;
}

.default {
  &__input {
    display: inline-block;
    margin: 0;
    padding: 4px 11px;
    width: 95%;
    min-width: 0;
    height: 24px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5715;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    &:focus {
      border-color: #40a9ff;
      outline: 0;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
    &:hover {
      border-color: #40a9ff;
    }
  }
}

.task {
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
  &__block {
    padding: 8px 16px 8px 14px;
    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    line-height: 22px;
  }
  &__id {
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: #595959;
    font-size: 12px;
    line-height: 1.2;
  }
  &__filter {
    position: relative;
    max-width: 150px;
    min-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    color: #8c8c8c;
    margin-left: 8px;
    padding-left: 8px;
    letter-spacing: -0.3px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 12px;
      background-color: #e8e8e8;
    }
    &__btn {
      max-width: 60px;
      max-height: 17px;
      min-height: 0;
      padding: 2px 7px 2px 6px;
      font-size: 10px;
      color: #8c8c8c;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      white-space: nowrap;
      box-shadow: none;
      background-color: transparent;
    }
    &__text {
      bottom: 1px;
      line-height: 1.1;
      display: block;
      overflow: hidden;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__controlls {
    display: flex;
  }
  &__status {
    padding: 0 5px;
    color: rgb(54, 179, 126);
    font-size: 13px;
    border-radius: 4px;
    text-transform: capitalize;
  }
  &__descr {
    height: 150px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #aeaeae;
    outline: none;
    &:active,
    &:focus,
    &::placeholder {
      padding: 10px;
    }
  }
}

.spent {
  &__time {
    margin-left: 8px;
  }
}

.more {
  height: 15px;
  transform: rotate(90deg);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #f1f6ff;
  &__task {
    display: flex;
    align-items: center;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-left: -15px;
  }
}

.back {
  &__img {
    margin-right: 8px;
    width: 10px;
    height: auto;
    transform: rotate(90deg);
  }
}

.default {
  margin-left: 0;
  padding-left: 0;
}

.activity {
  display: flex;
  align-items: center;
}

.panel {
  padding: 11px 16px;
  background-color: #fff;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
    font-weight: 500;
    color: #8c8c8c;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.create {
  &__date {
    font-weight: 400;
  }
}

.divide {
  margin-right: -7px;
  padding-left: 5px;
}

.email {
  &__icon {
    margin: 0 8px;
    width: 22px;
    height: 22px;
    padding: 5px 2px;
    font-size: 13px;
    border-radius: 2px;
  }
}

.name {
  &__details {
    padding: 10px 15px;
    background-color: #fff;
  }
}

.subtask {
  padding: 15px;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &__add {
    width: 100%;
    height: 25px;
  }
  &__title {
    padding-right: 2px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    background-color: #fff;
  }
  &__title-block {
    display: flex;
  }
}

.activate,
.pause {
  &__task {
    width: 14px;
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 2px;
  z-index: 1;
}

.activities {
  top: 45px;
  right: 3px;
  width: 298px;
  opacity: 0;
  animation: show 0.5s 1 forwards;
  &__title {
    margin-bottom: 2px;
    color: #262626;
    font-weight: 600;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__item {
    margin: 2px 0 2px 3px;
    padding-right: 5px;
    display: block;
    color: #1890ff;
    text-decoration: none;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 45px;
  }
}

.task-panel-editor {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.prose-mirror-editor {
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.project-page-editor .ProseMirror {
  min-height: 100px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
}

.prose-mirror-editor .ProseMirror {
  outline: none;
  transition: border-color 0.3s;
}

.prose-mirror-editor .ProseMirror .empty-node {
  margin-bottom: 0;
  font-size: 14px;
}

.prose-mirror-editor .ProseMirror .empty-node:before {
  font-style: normal;
  color: #bfbfbf;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.ProseMirror p.empty-node:before {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
}

.editor-footer {
  border-top: 0;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.3s;
  padding-bottom: 5px;
}

.ProseMirror p.empty-node:first-child:before {
  content: attr(data-placeholder);
}

.small {
  &__title {
    font-size: 14px;
    font-weight: 400;
  }
}
