.btn {
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}

.btn--new {
  color: #1890ff;
  border-color: #1890ff;
}

.btn--new:hover {
  color: #fff;
  background-color: #1890ff;
}

.btn--default {
  border-color: #adc6ff;
  color: #2f54eb;
}

.btn--progress {
  color: #722ed1;
  border-color: #d3adf7;
}

.btn--accepted {
  color: #52c41a;
  border-color: #b7eb8f;
}

.btn--qa {
  color: #fa8c16;
  border-color: #ffd591;
}

.page-search-target__icon {
  width: 15px;
  height: auto;
}
